body{
    background: #eeeeee;
}

/*Navbar*/

.navbar-brand{
     background:#4aaaa5;
     padding:10px;
     font-family:'Times New Roman', Times, serif;
     color: white;
 }

 .navbar-light .navbar-brand{
color:white;
 }


 .collapse {
    justify-content: flex-end;
 }

 /*Card/Content*/

 .card-title{
     font-family:'Times New Roman', Times, serif;
     color:#4aaaa5;
     font-weight:bold;
     margin-left:10px;
 }

 .contact-title{
    font-family:'Times New Roman', Times, serif;
    color:#4aaaa5;
    font-weight:bold;
    margin-left:10px;
    padding:0px;
 }

 hr {
    margin-top: 0;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
  }

  .card{
      max-width: 100%;
      overflow: hidden;
  }

.card-text{
    word-wrap: break-word;
    float: left;
}

.card-img{
    max-width: 200px;
    height: auto;
    float: left;
    margin-bottom: 5px;
}

.image-wrapper{
    max-width:200px;
}

.img-thumbnail{
    max-width: 200px;
    height: auto;
    margin-bottom: 10px
}

div.desc{
    background-color: #4aaaa5;
    width: 190px;
    color: #fff;
    position: relative;
    top: -10%;
    z-index: 2;
    text-align: center;
    font-family: 'Times New Roman', Times, serif
}

/* Contact form */

form{
    background:#fff;
    padding:20px;
}

.btn-primary{
    background: #4aaaa5;
}

.btn-primary:hover{
    background:#4aaaa5b6
}

/*Footer CSS*/

.footer{
    background: #666666;
    position:fixed;
    bottom:0;
    left: 0;
    bottom: 0;
    width:100%;
    text-align:center;
    height:50px;
    color: #eeeeee;
    z-index: 3;
    padding: 5px;
    border-top: 10px solid #4aaaa5;
}

