body{
    background: #eeeeee;
}

.navbar-brand{
     background:#4aaaa5;
     padding:10px;
     font-family:'Times New Roman', Times, serif;
     color: white;
 }

 .navbar{
     color:white;
 }

 .navbar-default .navbar-brand a{
    color: white;
}

 .collapse {
    justify-content: flex-end;
 }

 .card-title{
     font-family:'Times New Roman', Times, serif;
     color:#4aaaa5;
     font-weight:bold;
     margin-left:10px;
 }

 hr {
    margin-top: 0;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
  }

  .card{
      max-width: 100%;
      overflow: hidden;
  }

.card-text{
    word-wrap: break-word;
    float: left;
}

.card-img{
    max-width: 200px;
    height: auto;
    float: left;
    margin-bottom: 5px;
    position: absolute;
}

.img-thumbnail{
    max-width: 200px;
    height: auto;
    margin-bottom: 10px
}

div.desc{
    background-color: #4aaaa5;
    width: 190px;
    color: #fff;
    position: relative;
    top: 25%;
    z-index: 2;
    text-align: center;
    font-family: 'Times New Roman', Times, serif
}


 section{
     background:white;
     margin:10px;
     padding:10px;

 }

 section h1{
     color:teal;
     font-family:'Times New Roman', Times, serif;
     font-weight: bold;
 }
